:root {
    /*color*/
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;

    /*size*/
    --size-btn: 60px;
    --font-size: 18px;
    --margin: 20px;
    --btn-color-height: 60px;
    --btn-color-width: 80px;

    --base-space: 20px;
}

body {
    height: 100vh;
    background: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__wrapper {
    cursor: pointer;
    transition: transform 300ms ease;
}

.logo:hover,
.btn:hover {
    transform: scale(1.1);
}

li {
    list-style: none;
}

.button__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background: transparent;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-size);
    margin-right: var(--margin);
}

.colorBtn {
    height: var(--btn-color-height);
    width: var(--btn-color-width);
    border-radius: 5%;
}

.pink {
    background: var(--color-pink);
}
.blue {
    background: var(--color-blue);
}
.yellow {
    background: var(--color-yellow);
}

.items {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    overflow-y: scroll;
}

.item_thumbnail {
    margin-right: var(--margin);
    padding-left: var(--base-space);
}

.item {
    background: white;
    display: flex;
    align-items: center;
    margin-bottom: var(--base-space);
}